body {
    margin: 0;
    font-family: Arial;
    background: #0b1220;
    color: white;
}

.layout {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #111827;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    margin: 10px 0;
    text-decoration: none;
}

.content {
    padding: 20px;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}